
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.navBar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Outfit;
}
.navBar.logo{
    width: 150px;
}
.nabar_Menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;


}

.navbar-right{

    display: flex;
    align-items: center;
    gap: 40px;

}

.navBar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navBar button:hover{
    background-color:#fff4f2 ;
}

.navBar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;


}

.navBar li{

    cursor: pointer;
}

.navbar-search-icon{
    position: relative;

}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 10px;
    top: -8px;
    right: -8px;

}

@media (max-width:1050px) {
    .navBar .logo{
        width: 140px;
    }
    .nabar_Menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }

}

@media (max-width:900px) {
    .navBar .logo{
        width: 120px;
    }
    .nabar_Menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }

}

@media (max-width:750px) {
    .nabar_Menu{
        width: 120px;
        display: none;
    }
    
}